<% include ./partials/boilerplate %>
  
  <a name='top'></a>
   <div class='container'>
      <h1>GotIt</h1>
      <h2><%= title %></h2>
          <% if(data) { %>
          <% include ./partials/list %>
          <% } %>
          <a href='#top' class='top'>Back to top</a>
    </div>

<% include ./partials/end %>
