<% include ./partials/boilerplate %>
  
   <div class='container'>
      <h1>GotIt</h1>
       <div class='wrapper'>
          <h2><%= title %></h2>
          <% if(data) { %>
          <% include ./partials/products %>
          <% } %>
       </div>
   </div>
   
<% include ./partials/end %>
