<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
   <div class='container'>
      <h1>GotIt</h1>
       <div class='wrapper'>
          <h3><%= title %></h3> 
          <% if(data) { %><% include ./partials/products %><% } %>
       </div>
   </div>
   <% include ./partials/scripts %>
  </body>
</html>
