<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
   <div class='container'>
       <div class='wrapper'>
          <h1><%= title %></h1>
          <h3>Users</h3> 
          <form id="myForm" method="POST">
              <input type="text" name="first" placeholder="First name">
              <input type="text" name="lastInt" placeholder="Last initial">
              <input type="number" name="zipcode" placeholder="Zipcode">
              <input type="email" name="email" placeholder="Email">
              <input type="submit" value="Submit">
          </form>
          <% if(data) { %><% include ./partials/users %><% } %> 
       </div>
   </div>
   <% include ./partials/scripts %>
  </body>
</html>
