body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    background: #540309;
    width: 900px;
    height: 700px; 
}

.wrapper {
    width:70%;
    height: 550px;
    padding: 12px;
    margin: auto;
    background: #0093DD;
    text-align: center;
}

h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #0093DD;
    font-size: 40px;
}

ul {
    list-style: none;
    text-align: left;
}

.delete, h3 {
    color: #540309;
}

.mainbox {
    background: #FF5F23;
    width: 160px;
    height: 160px;
    text-align: center;
    color: #540309;
}

.mainbox img {
    width: 100px;
    height: 100px;
}
