body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    background: #540309;
    width: 100%;
    height: 100%;
    text-align: center;
}

.wrapper {
    width:70%;
    height: 550px;
    padding: 12px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FF5F23;
    text-align: center;
}

h1 {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    color: #0093DD;
    font-size: 50px;
}

h1 a {
    color: #0093DD;
    text-decoration: none;
}

h2 {
    color: #540309;
    padding: 5px 0;
    font-size: 20px;
}

.top {
    color: #0093DD;
    font-size: 20px;
}

.mainbox {
    background: #FF5F23;
    width: 350px;
    height: 350px;
    text-align: center;
    color: #540309;
    margin: 10px auto;
}
.mainbox p {
    font-size: 25px;
    padding: 5px;
}

.mainbox img {
    width: 250px;
    height: 250px;
}

.makeOffer {
    text-align: left;
    width: 200px;
    height:250px;
    position: relative;
    bottom: 120px;
    left: 100px;
}

.makeOffer img {
    width: 230px;
    height: 230px;
    position: relative;
    top: 120px;
    left: -50px;
}

.details {
    width: 300px;
    height: 200px;
    position: relative;
    left: 350px;
    top: -80px;
    font-size: 20px;
}

ul {
    list-style: none;
    text-align: left;
}

.delete {
    color: #0093DD;
}

#map {
    height: 250px;
    width: 300px;
    position: relative;
    left: 450px;
       }

footer {
    text-align: center;
    padding: 15px;
    color: #540309;
    background: #0093DD;
}