<!DOCTYPE html>
<html>
    <head>
        <title>GotIt - <%= title %></title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
        <link href='stylesheets/style.css' rel='stylesheet'>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js'></script>
    </head>
    <body>