<form method="POST">
                    <input type="text" name="first" placeholder="First name"><br>
                    <input type="text" name="lastInt" placeholder="Last initial"><br>
                    <input type="email" name="email" placeholder="Email"><br>
                    <input type="number" name="offer" placeholder="Offer"><br>
                    <input type="submit" value="Submit">
               </form>