
<% data.forEach(function(d) { %>
   </br>
    <div class="mainbox" data-id=<%=d.id%>>
        <img src=<%=d.images%>> 
        <p>Product: <%= d.product %></p>
        <p>Price: $<%= d.price %></p>
    </div> 
    <% }) %>