
<ul>
    <% data.forEach(function(d) { %>
    <li data-id=<%=d.id%>> 
         <input class="input_item" type="text" name="first" placeholder=<%= d.first %> readonly>
         <span class="delete">delete</span>
    </li> 
    <% }) %>
</ul>
